.bg-principal {
  background-color: #f72210;
}

.chang-img {
  width: 4rem;
}

.subs-btn {
  font-size: 1rem;
}

.navbar a {
  font-size: 15px;
}

.vs-text {
  bottom: -1.5rem;
  left: 50%;
  z-index: 10;
}

.text-email {
  font-size: 25px;
  line-height: 1;
}

.icon-1 {
  width: 15%;
  height: 15%;
}

.icon-2 {
  width: 4%;
  height: 85%;
}

.title-magazine {
  bottom: 0;
}

.date-magazine {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}

.text-red {
  color: #f72210;
}

.text-red:hover {
  color: #f72210;
}

.overlap-images {
  top: 1rem;
  left: 5rem;
}

.img-news-letter {
  object-fit: cover;
}

.icons {
  font-size: 1.6rem;
}

.nav-footer2 .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-footer1 .nav .nav-item:not(:last-child),
.nav-footer2 .nav .nav-item:not(:last-child) {
  border-right: 1px solid #d3d3d3;
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1310px;
  }
}

@media (max-width: 768px) {
  .subscribe-text h2 {
    font-size: 1.1rem;
    position: relative;
    top: -1rem;
  }

  .nav-footer1 .nav .nav-item:not(:last-child),
  .nav-footer2 .nav .nav-item:not(:last-child) {
    border-right: none;
  }
}

@media (max-width: 600px) {
  .sub-header {
    font-size: 0.6rem;
  }

  .logo-1 {
    width: 45%;
  }
}
